# intellij idea
*.log
*.iml
*.ipr
*.iws
.idea

# scala 3
.tasty

#general
*.class

# metals
project/metals.sbt
.metals

# sbt
project/project/
project/target/
target/

# other
.history
.scala_dependencies
.cache-main
.bsp